.friends {
  padding: 3.5vw 4.2vw;
  width: 100%;
}

.friends .title {
  display: flex;
  justify-content: space-between;
}

.friends h2 {
  font-size: 3.2vw;
  font-weight: 400;
  color: #666;
}

.friends .button {
  font-size: 3.2vw;
  width: 3.5vw;
  background: url(../images/chevron-down.png) no-repeat 0 50% / contain;
  text-indent: -1000px;
  overflow: hidden;
}

.friends li a {
  display: flex;
  align-items: center;
  padding: 1.7vw 0;
}

.friends li p {
  font-size: 4vw;
  margin-left: 3vw;
  color: #000;
}
